<div class="instantMeetingLayout" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
    <div fxLayout="column" fxlayoutAlign="center center" fxLayoutGap="1em">
        <div>
            <mat-form-field>
                <mat-label>Topic</mat-label>
                <input id="meetingTopicInput" matInput [formControl]="topicControl" autocomplete="off" required>
                <mat-error *ngIf="topicControl.hasError('required')">
                  Topic is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Participants</mat-label>
                <mat-chip-grid #chipGrid aria-label="Enter participants" [disabled]="!enableControls">
                    <mat-chip-row *ngFor="let participant of selectedParticipants"
                        (removed)="removeParticipant(participant)" [editable]="true"
                        (edited)="editParticipant(participant, $event)"
                        [aria-description]="'press enter to edit ' + participant">
                        {{participant}}
                        <button matChipRemove [attr.aria-label]="'remove ' + participant">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    <input id="participantInput" placeholder="New Participant..." [matChipInputFor]="chipGrid"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
                        (matChipInputTokenEnd)="addParticipant($event)"/>
                </mat-chip-grid>
            </mat-form-field>
        </div>
    </div>
    <div>
        <button mat-raised-button color="primary" [disabled]="!enableControls || !topicControl.valid" (click)="startMeeting()">Start Meeting</button>
    </div>
    <div *ngIf="enableSpinner">
        <mat-progress-spinner diameter="40" color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
</div>